* {box-sizing: border-box;}

body, html, #aura-root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  padding: 2px;
}

body {
  box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
  border-top: 1px solid #E2E2E2;
}

#aura-root {
  display: flex;
  flex-direction: column;
}